body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #111;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav button {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.blog-card {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 6px;
}

.blog-card img {
  width: 100%;
  border-radius: 6px;
}
